doctype html
html
    head
        meta(charset="UTF-8")
        title Squared Labs
        link(rel="stylesheet", href="assets/fonts/fonts.css")
        //-link(rel="stylesheet", href="build/index.css")
        link(rel="stylesheet", href="assets/css/index.css")
        // Global Site Tag (gtag.js) - Google Analytics
        script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-78635103-5")
        script(async, src="assets/js/ga.js")
    body
        section#uconn-logo
            a(href="https://uconn.edu", target="_blank")
                img#uconn(src="assets/png/uconn.png")
        section#squaredlabs-logo
            img(src="assets/svg/SquaredLabs.svg")
        section#introduction
            p Welcome to ⬚² labs (read: squared labs). Together with UConn's very best students, we build cutting-edge websites that support UConn's world-class research infrastructure.
            br
            p We’ve only just taken our place on the Internet, so while we hope you enjoy our site, know that there is much more to come (soon)!
        section#projects
            h1.project-background projects
            mixin project(img, name, subdomain)
                a(href="http://" + subdomain + ".uconn.edu", target="_blank")
                    .project(style=`background: url('/assets/png/projects/${img}.png') center/150% no-repeat;`)
                        p.project-name= name
            +project("ip", "Innovation Portal", "ip")
            +project("lincus", "Lincus", "lincus")
            +project("huskytrails", "Huskytrails", "huskytrails")
            +project("tip", "TIP", "tip")
            +project("core", "COR²E", "core")
        section#people
            h1.people-background people
            #about
                p ⬚² labs team members are a stellar group who share a passion for building beautiful, functional websites.
                br
                p We are always looking for talented and hard-working students to join our ranks. We look for students with a track record of building cool stuff in their spare time, web experience, and a passion for innovation and creation. If that sounds like you, get in touch!
            mixin person(img, name, role, grad, major, bio)
                .person
                    div.photo(style=`background: url('/assets/png/people/${img}') center/100% no-repeat;`)
                    .content(class!=attributes.class)
                        .brief
                            p.name= name
                            p.role= role
                        .detailed
                            br
                            p.grad= grad
                            p.major= major
                            br
                            p.bio!= bio
            +person("alec.jpg",
                "Alec Marcus",
                "Design Lead",
                "Class of 2018",
                "UConn Fine Art; DMD (double major)",
                "Alec’s ability to design logos and websites is, simply put, ridiculous (as is his motorcycle riding ability).  A note to employers: you’d be lucky if Alec chose to work for you.")
            +person("andi.jpg",
                "Andi Duro",
                "Web Developer",
                "Class of 2021",
                "UConn CS",
                "Andi is a freshman, but don’t let that fool you.  He can run circles around most web developers. He coded 100% of the site you are currently on…  in his sleep.")
            +person("brandon.png",
                "Brandon Cheng",
                "Web Developer Lead",
                "Class of 2019",
                "UConn CSE",
                "Brandon is a web wizard.  He pretty much eats, sleeps, and drinks computers.  Brandon coded 97.34% of <a href='https://huskytrails.uconn.edu' target='_blank'> Huskytrails</a> and <a href='https://tip.uconn.edu' target='_blank'>TIP</a>.")
            +person("buddy.jpg",
                "Buddy",
                "Moral Support Lead",
                "Class of 2019",
                "Introductory Dog Obedience",
                "Buddy knows the commands for sit, down, stay, leave, and come, so long as treats are provided.  Buddy told us to write that he loves Squared Labs (and his owner Taylor).")
            +person("chioma.png",
                "Chioma Ezete",
                "Web Developer",
                "Class of 2018",
                "UConn CSE",
                "We knew Chioma was a good fit when she told us that she developed a cooking app using React over the summer - for fun.  She also shares our love for great sushi (and great code).")
            +person("courtney.jpg",
                "Courtney Wiley",
                "Program Manager",
                "",
                "",
                "We were extremely fortunate to snag Courtney from her previous job as Associate Director of  <a href='https://tip.uconn.edu' target='_blank'>TIP</a>.  But we built their website pro bono, so they owed us!")
            +person("dan.png",
                "Dan Schwartz",
                "Director",
                "Associate Professor",
                "Physiology & Neurobiology",
                "Dan’s talent is surrounding himself with really really smart, talented, and hard working students who can make him look better than he ought to.")
            +person("jack.jpg",
                "Jack Leyland",
                "Communcations Specialist",
                "Class of 2018",
                "UConn Finance",
                "When he’s not developing content for Squared Labs, Jack is busy leading the Student Managed Fund in the Business School. Our only request is that he remember us when he makes it on the Forbes list.")(class="two-line-title")
            +person("joey.jpg",
                "Joey O'Shea",
                "Web Development Consultant",
                "Class of 2015",
                "UConn CSE",
                "Joey and Dan go way back to when Joey was still a teenager with short hair.  Now Joey has long hair, and an ever longer web development skillset.")(class="two-line-title")
            +person("quinn.jpg",
                "Quinn Vissak",
                "Web Developer",
                "Class of 2018",
                "UConn CSE",
                "Quinn is President of UConn’s ACM chapter, is a CSE Teaching Assistant, and still manages to work with us for 20+ hours/week.  Can you say “workaholic”?")
            +person("rob.jpg",
                "Rob Stolarz",
                "Web Developer",
                "Class of 2019",
                "University of Hartford CS",
                "Rob holds the honor of being the only non-UConn member of our team.  The fact that we were willing to jump through hoops to get him on the UConn payroll speaks volumes about his coding abilities.")
            +person("taylor.jpg",
                "Taylor Hudak",
                "Communications Specialist",
                "Class of 2019",
                "UConn Mathematics; Secondary Math Education (double major)",
                "Taylor has an absurd GPA, is an incredible photographer, and creates/maintains content on <a href='https://core.uconn.edu' target='_blank'>CORE</a>. and <a href='https://ip.uconn.edu' target='_blank'>Innovation Portal</a>. like it’s nobody’s business.")(class="two-line-title")
        section#connect
            h1.connect-background connect
            a.link-card(href="https://gitlab.com/squared-labs", target="_blank")
                div(style=`background-image: url('/assets/svg/gitlab.svg'); background-repeat: no-repeat; background-position: center center; background-size: 15%;`)
            a.link-card#contact(target="_blank")
                div(style=`background-image: url('/assets/svg/mail.svg'); background-repeat: no-repeat; background-position: center center; background-size: 15%;`)
                img(src="assets/png/contact.png")
            a.link-card(href="http://www.foundation.uconn.edu/send-your-gift/", target="_blank")
                div(style=`background-image: url('/assets/svg/btc.svg'); background-repeat: no-repeat; background-position: center center; background-size: 15%;`)
            #connect-description
                p If you like what you see here and want to offer support, or get involved as something other than a member of ⬚² labs, we would love to hear from you! From workshops, to open source contributions, to donations, there are plenty ways to become a part of what we do.
                //- Margin and padding don't affect the textbox, so use a newline to push it slightly above the link cards
                br
        footer
            mixin footer-link(content, href)
                a.footer-link(href=href)= content
            +footer-link("©2017 Uconn", "#")
            .stamp
                p Designed &amp; developed by
                p(style="font-size: 25px; font-weight: bold; font-family: 'SpaceMono';") [squared labs]
                p at UCONN
            +footer-link("Uconn COR²E", "https://core.uconn.edu")
